
<div class="d-flex justify-content-evenly p-3">
	<%= link_to "Back to list", root_path, class: "btn btn-outline-dark" %>
<h2>Movies under <strong><%= @list.name %></strong> category list</h2>
	<%= link_to "Add movie to list", new_list_bookmark_path(@list), class: "btn btn-outline-secondary" %>
</div><hr>

<div class="card bg-dark text-white">
	<%= cl_image_tag(@list.photo.key, :flags=>"ignore_aspect_ratio", :height=>400, :crop=>"scale") %>
  <div class="card-img-overlay">
    <h2 class="card-text" >Save your movies.</h2>
    <p class="card-text">Select from a list and add to yours for easy reference</p>
  </div>
</div><br>


<div class="row row-cols-1 row-cols-md-4 g-4">
  <% @list.movies.each do |movie| %>
    <% bookmark = Bookmark.find_by(list: @list, movie: movie) %>
			<div class = "rounded mx-auto d-block">
       <div class="col">
        <div class="card">
  				<%= image_tag movie.poster_url, alt: movie.title, class: "img-thumbnail", :size => "100%"  %>
           <div class="card-body">
            <strong> <%= movie.title %><%= movie.rating %> <br></i></strong>
            <%= movie.overview.first(80)... %> <br><hr>
              <strong><p>My Comments</p></strong>
             <%= bookmark.comment %></small><br><hr>
            <%= link_to "Delete", bookmark_path(bookmark), method: :delete, data: { confirm: "Are you sure you want to remove #{movie.title} from your #{@list.name} list"}, class: 'text-danger' %> <br>
         </div>
       </div>
     </div>
    </div>
  <% end %>
</div><hr>

<div class="d-flex justify-content-evenly p-3">
	<%= link_to "Add movie to list", new_list_bookmark_path(@list), class: "btn btn-outline-secondary" %>
</div>
